:root {
    --font-family: "Roboto";
    --font-family-element: "Indie Flower";
    --font-size-h1: 56px;
    --font-size-h1-phone: 46px;
    --font-size-h2: 44px;
    --font-size-h2-phone: 34px;
    --font-size-h3: 36px;
    --font-size-h3-phone: 24px;
    --font-size-paragraph: 20px;
    --font-size-paragraph-phone: 16px;
    --max-width: 1000px;
    --margin: 0 auto;
    --drop-shadow: 0 1px 10px #79C5DC;
}