@import url(/css/import/variables.css);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family), "San Serif";
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    font-size: var(--font-size-paragraph);
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

html {
    scroll-snap-type: y mandatory;
}

.scroll_snap {
    scroll-snap-align: center;
}

/* Navbar */
.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_logo img {
    margin-left: 10px;
    height: 40px;
    border: 3px solid #79C5DC;
    padding: 5px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: var(--margin);
    max-width: var(--max-width);
    background-color: white;
    box-shadow: var(--drop-shadow);
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 15px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
}


.mywork_btn a {
    color: white;
    background: black;
    padding: 10px;
    border-radius: 10px;
}

/* Header section */
/* Waving hand */
.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.header_section {
    /* background-color: E1E1E1#; */
    /* background-color: black; */
    position: relative;
    height: 100vh;
    background-image: url("/images/melchior-damu-IvTCN1H4X1k-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    margin: var(--margin);
    /* margin-top: 20px; */
    margin-top: calc(25vh);
}

.header,
h1,
p {
    color: white;
}

.header_content {
    margin-left: 25%;
}

.header_content h1 {
    margin-bottom: 10px;
}


.element_text {
    font-size: 12px;
    font-style: italic;
    font-family: var(--font-family-element);
    color: white;
}

.element_text.right {
    text-align: right;
}

.element_text.section {
    margin-left: 5px;
}

.element_text.section_end {
    position: absolute;
    bottom: 0px;
    margin-left: 5px;
}

.header_content span {
    display: block;
}

/* About section */
.about_section {
    position: relative;
    background-color: black;
    height: 100vh;
}

.about_content {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    /* transform: translateY(25%); */
    margin-top: calc(15vh);

}

.element_text.section_about {
    margin-left: 5px;
}

.about_header {
    margin-bottom: 10px;
}

.about_main-content {
    display: grid;
    margin-bottom: 20px;
}

.about_main-content p {
    max-width: 350px;
    grid-area: 2;
}

.element_text.start_tag {
    grid-area: 1 / 1;
}

.element_text.end_tag {
    grid-area: 3 / 1;
}

.current_skills h3 {
    color: white;
}

.current_skills.tech_tools {
    margin-left: 30px;
}

.background_img {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(/images/christmas-tree-gb701591d5_1280.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    height: 250px;
    width: 250px;
}

.element_text.section_about-end {
    margin-left: 5px;
    position: absolute;
    bottom: 0;

}

/* My work section */
.mywork_section {
    position: relative;
    /* background-color: #BBD3D4; */
    background-color: black;
    height: 100vh;
}

.work-end {
    margin-bottom: 20px;
}

.mywork_section .body-end {
    margin: 0;
}

.mywork_section h1 {
    margin: 10px auto;
    text-align: center;
}

/* Slider carousel */
.carousel_container {
    margin: 0px auto;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: var(--max-width);
    max-height: 540px;
    scroll-behavior: smooth;
    box-shadow: var(--drop-shadow);
    margin-top: calc(15vh);
}

.carousel_image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    object-position: center;
    scroll-snap-align: center;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    list-style: none;
    overflow: scroll;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    overflow-y: hidden;

}

.slides-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide_container-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    grid-template-rows: 1fr;
}

.slide_container-wrapper a {
    text-decoration: none;
    color: black;
}


.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 65px;
    background-color: black;
    border: none;
    width: 2rem;
    font-size: 50px;
    padding: 0;
    opacity: 0.8;
    transition: 250ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    color: white;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    color: white;
}

/* Loader */
.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
}

.message {
    font-family: var(--font-family);
    text-align: center;
}

.loader {
    border: 16px solid #79C5DC;
    border-top: 16px #79C5DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Queries */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .header_content {
        margin-left: 10%;
    }
}

@media (max-width: 450px) {
    .header {
        margin-top: 50px;
    }

    h1 {
        font-size: var(--font-size-h1-phone);
    }

    h2 {
        font-size: var(--font-size-h2-phone);
    }

    h3 {
        font-size: var(--font-size-h3-phone);
    }

    p {
        font-size: var(--font-size-paragraph-phone);
    }

    .about_header {
        /* margin-top: 50px; */
    }

    .about_main-content {
        /* margin-top: 10%; */
    }

    .current_skills {
        /* margin-top: 10%; */
    }

    .tech_skills {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tech_tools {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}